
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", serif;
  font-style: normal;

}

/* ----------------- Menu de navegación ---------------*/

nav {
  background-color: #16425B;
  color: white;
  padding: 10px 10px ;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

nav.hidden {
  transform: translateY(-100%);
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.nav-item {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  display: inline-block;
  transition: color 0.3s ease;
}

.nav-link:hover, .nav-link:focus {
  color: #ffff;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffff;
  transition: width 0.3s ease;
}

.nav-link:hover::after, .nav-link:focus::after, .nav-link.active::after {
  width: 100%;
}

ul{
  gap: 30px;
}

section {
  padding: 50px;
}
h1{
  font-family: "Oswald", serif;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  /* margin-bottom: 5%; */
  padding-bottom: 2%;
}
.menu-toggle {
  height: 0px;
  visibility: hidden;
}

/* ----------------------Seción principal-------------*/
#section1{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #AEB6BE;
}
.imgPrograming{
  height: 100px;
  width: 100px;
}

/* --------------------section acerca de mi ------------*/
#section2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

}
.about-me{
  display: flex;
  flex-direction: column;
  width: 40%;
}
h4{
  font-size: 1.5em;
  margin-bottom: 3%;
}
p{
  font-size: large;
}


.foto{
  border-radius: 20px;
  height: 230px;
  box-shadow: 0px 2px 5px #16425B;
}
.iconos{
  display: flex;
  justify-content:space-around;
  padding: 3%;
  transition: .3s ease;
}

.iconos a img:hover{
  cursor: pointer;
  transform: scale(1.1);
  
}

button{
  color: white;
  background-color: #8B0330;
  width: 12rem;
  height: 32px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

button:hover{
  background-color: #a11e49;
}
/* -----------------seccion 3-------------------- */

.carts{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
}

.cart-main{
  border: 1px solid gray;
  width: 20%;
  height: 300px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 2px 5px #16425B;
}

.cart-tittle{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #8B0330;
  height: 15%;
}
h3{
  text-align: center;
}

.inside{
  display: flex;
  flex-direction: row;
  padding: 10%;
  gap: 20px;
  justify-content: space-around;
}

.more-inside{
  margin: 7px;
}

/* ----------------- Setion 4 ---------------*/

#section4{
  /* background-color: #16425B; */
  background: linear-gradient(#16425B, #91b3c6);
  color: white;
}

/* ------------ESTILO MOVIL ------------*/
@media (max-width: 768px) {

  /* ------------Media para barra de navegación ------------*/

  .nav-list {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list.show {
    display: flex;
  }

  .menu-toggle {
    visibility: visible;
    display: block;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    height: 10%;

  }
}